body {
  background-image: url(star-wars-background-image.jpg);
  background-repeat: repeat-y;
}

.background {
  border-radius: 25px;
  background-color: white;
  border: 1px solid black;
  margin-left: 10%;
  margin-right: 10%;
}

.nav {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: lightgray;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid black;
}

.link {
  color: blue;
  text-decoration: none;
}

.link:hover {
  color: purple;
  text-decoration: underline;
}

#navlink {
  border-radius: 5px;
  padding: 5px;
  color: black;
}

#navlink:hover {
  background-color: white;
  color: purple;
}

#charlink {
  border-radius: 5px;
  padding: 5px;
}

#charlink:hover {
  background-color: lightblue;
}

.intro {
  float: right;
  width: 64%;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 10px groove blue;
  border-top: 10px groove blue;
  border-bottom: 10px groove blue;
  border-collapse: collapse;
  margin-bottom: 0;
  text-align: justify;
}

.intro::first-letter {
  float: left;
  font-size: 72px;
}

.datafile {
  clear: right;
  float: right;
  background-color: lightyellow;
  box-sizing: border-box;
  width: 25%;
  border-left: 10px groove blue;
  border-right: 10px groove blue;
  border-bottom: 10px groove blue;
  border-collapse: collapse;
  margin-left: 6%;
  margin-right: 2%;
  margin-top: 0;
}

.datafile th, td {
  border-bottom: 1px solid blue;
  border-collapse: collapse;
}

.imgdata {
  vertical-align: bottom;
  width: 100%;
}

.infoheading {
  font-size: 20px;
}

.infolabel {
  vertical-align: top;
  font-weight: bold;
}

.infospec {
  font-size: 12px
}

.media {
  clear: right;
  float: right;
  border-radius: 25px;
  background-color: lightyellow;
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
  border: 1px solid black;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 2%;
}

.mediatitle {
  font-size: 20px;
  font-weight: bold;
}

.funfactborder2 {
  clear: right;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  height: 184px;
  width: 184px;
  border: 4px solid darkgreen;
  margin-right: 7%;
  margin-top: 5%;

}

.funfactborder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  height: 176px;
  width: 176px;
  border: 8px solid lightgreen;
}

.funfact {
  border-radius: 50%;
  box-sizing: border-box;
  height: 160px;
  width: 160px;
  padding: 20px;
  border: 4px solid darkgreen;
  font-size: 12px;
  text-align: center;
}

.bubbletitle {
  font-size: 16px;
  font-weight: bold;
}

.whitespace1 {
  clear: right;
  float: right;
  height: 1px;
  width: 33%;
}

.behindscenesborder2 {
  clear: right;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  height: 194px;
  width: 194px;
  border: 4px solid darkblue;
  margin-right: 12%;
  margin-top: 5%;
}

.behindscenesborder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  height: 186px;
  width: 186px;
  border: 8px solid lightblue;
}

.behindscenes {
  border-radius: 50%;
  box-sizing: border-box;
  height: 170px;
  width: 170px;
  padding: 20px;
  border: 4px solid darkblue;
  font-size: 12px;
  text-align: center;
}

.bubbletitle {
  font-size: 16px;
  font-weight: bold;
}

.whitespace2 {
  clear: right;
  float: right;
  height: 158px;
  width: 33%;
}

.name {
  margin-left: 2%;
  margin-bottom: 0;
  color: blue;
  font-size: 32px;
}

.underline {
  background-color: blue;
  height: 5px;
  color: blue;
}

.quotemark {
  margin-left: 2%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
}

.quote {
  position: relative;
  bottom: 25px;
  margin-left: 4%;
  margin-right: 67%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.quotelabel {
  position: relative;
  bottom: 25px;
  margin-left: 6%;
  margin-right: 67%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.bottomquote {
  position: relative;
  bottom: 25px;
  margin-left: 4%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.bodycon {
  display: flex;
  align-items: center;
}

#bodycon1 {
  margin-top: 2%;
}

#bodycon2 {
  margin-top: 6%;
}

#bodycon3 {
  margin-top: 9%;
}

#bodycon4 {
  margin-top: 5%;
}

#bodycon5 {
  margin-top: 19%;
}

.imgodd {
  z-index: 3;
  position: absolute;
  box-sizing: border-box;
  width: 240px;
  margin-left: 30px;
}

.imgeven {
  z-index: 3;
  position: absolute;
  box-sizing: border-box;
  width: 240px;
  margin-left: 60px;
}

.imgodd:hover, .imgeven:hover {
  z-index: 4;
  width: 480px;
}

#img1 {
  border: 20px groove red;
}

#img2 {
  border: 20px groove green;
}

#img3 {
  border: 20px groove yellow;
}

#img4 {
  border: 20px groove orange;
}

#img5 {
  border: 20px groove purple;
}

.cap {
  z-index: 1;
  position: absolute;
  padding: 2px;
  border: 2px solid black;
  font-size: 20px;
  font-weight: bold;
}

#cap1 {
  border: 2px solid red;
  margin-left: 240px;
  margin-bottom: 313px;
}

#cap2 {
  border: 2px solid green;
  margin-left: 298px;
  margin-bottom: 257px;
}

#cap3 {
  border: 2px solid yellow;
  margin-left: 268px;
  margin-bottom: 294px;
}

#cap4 {
  border: 2px solid orange;
  margin-left: 270px;
  margin-bottom: 351px;
}

#cap5 {
  border: 2px solid purple;
  margin-left: 268px;
  margin-bottom: 256px;
}

.parodd {
  z-index: 2;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 10px groove black;
  margin-right: 60px;
  text-align: justify;
}

.pareven {
  z-index: 2;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 10px groove black;
  margin-right: 30px;
  text-align: justify;
}

#par1 {
  border: 10px groove red;
  margin-left: 26%;
}

#par2 {
  border: 10px groove green;
  margin-left: 30%;
}

#par3 {
  border: 10px groove yellow;
  margin-left: 26%;
}

#par4 {
  border: 10px groove orange;
  margin-left: 30%;
}

#par5 {
  border: 10px groove purple;
  margin-left: 26%;
}

.char {
  border-radius: 25px;
  background-color: lightyellow;
  border: 1px solid black;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 21%;
}

.chartitle {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.charlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0;
}

.footer {
  background-color: lightgray;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 1px;
  border-top: 2px solid black;
  margin-top: 2%;
  text-align: center;
}

 .backtotop {
   display: block;
   position: fixed;
   bottom: 50px;
   border-radius: 50px;
   background-color: blue;
   box-sizing: border-box;
   width: 9%;
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 24px;
   padding-bottom: 24px;
   margin-left: 90%;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
}

.backtotop:hover {
  border: 1px solid yellow;
  color: yellow;
  text-decoration: underline;
}
