.background {
  margin-left: 10%;
  margin-right: 10%;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid black;
}

.link {
  color: blue;
  text-decoration: none;
}

#navlink {
  color: black;
}

.link:hover, #navlink:hover {
  color: purple;
  text-decoration: underline;
}

.intro {
  float: right;
  width: 62%;
  padding: 10px;
  border: 10px groove black;
  border-collapse: collapse;
  margin-bottom: 0;
  text-align: justify;
}

.intro::first-letter {
  float: left;
  font-size: 72px;
}

.datafile {
  clear: right;
  float: right;
  box-sizing: border-box;
  width: 25%;
  border-left: 10px groove black;
  border-right: 10px groove black;
  border-bottom: 10px groove black;
  border-collapse: collapse;
  margin-left: 6%;
  margin-right: 2%;
  margin-top: 0;
}

.datafile th, td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.thrawnprofilepicture {
  vertical-align: bottom;
  width: 100%;
}

.infoheading {
  font-size: 20px;
}

.infolabel {
  vertical-align: top;
  font-weight: bold;
}

.infospec {
  font-size: 12px
}

.media {
  clear: right;
  float: right;
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
  border: 1px solid black;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 2%;
}

.mediatitle {
  font-size: 20px;
  font-weight: bold;
}

.funfact {
  clear: right;
  float: right;
  height: 110px;
  width: 110px;
  padding: 20px;
  border: 5px double black;
  border-radius: 50%;
  margin-right: 5%;
  margin-top: 5%;
  font-size: 12px;
  text-align: center;
}

.funfacttitle {
  font-size: 16px;
  font-weight: bold;
}

.whitespace1 {
  clear: right;
  float: right;
  height: 1px;
  width: 33%;
}

.behindscenes {
  clear: right;
  float: right;
  height: 120px;
  width: 120px;
  padding: 20px;
  border: 5px double black;
  border-radius: 50%;
  margin-right: 10%;
  margin-top: 5%;
  font-size: 12px;
  text-align: center;
}

.whitespace2 {
  clear: right;
  float: right;
  height: 183px;
  width: 33%;
}

.behindscenestitle {
  font-size: 16px;
  font-weight: bold;
}

.name {
  margin-left: 2%;
  margin-bottom: 0;
  font-size: 32px;
}

.underline {
  height: 5px;
  background-color: black;
}

.quotemark {
  margin-left: 2%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
}

.quote {
  position: relative;
  bottom: 25px;
  margin-left: 4%;
  margin-right: 67%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.quotelabel {
  position: relative;
  bottom: 25px;
  margin-left: 6%;
  margin-right: 67%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.bottomquote {
  position: relative;
  bottom: 25px;
  margin-left: 4%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.bodycon {
  display: flex;
  align-items: center;
}

#bodycon1 {
  margin-top: 2%;
}

#bodycon2 {
  margin-top: 6%;
}

#bodycon3 {
  margin-top: 9%;
}

#bodycon4 {
  margin-top: 5%;
}

#bodycon5 {
  margin-top: 19%;
}

.imgodd {
  position: absolute;
  box-sizing: border-box;
  width: 240px;
  border: 20px groove black;
  margin-left: 30px;
}

.imgeven {
  position: absolute;
  box-sizing: border-box;
  width: 240px;
  border: 20px groove black;
  margin-left: 60px;
}

.cap {
  position: absolute;
  padding: 2px;
  border: 2px solid black;
  font-size: 20px;
  font-weight: bold;
}

#cap1 {
  margin-left: 240px;
  margin-bottom: 313px;
}

#cap2 {
  margin-left: 298px;
  margin-bottom: 257px;
}

#cap3 {
  margin-left: 268px;
  margin-bottom: 294px;
}

#cap4 {
  margin-left: 270px;
  margin-bottom: 351px;
}

#cap5 {
  margin-left: 268px;
  margin-bottom: 256px;
}

.parodd {
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 10px groove black;
  margin-right: 60px;
  text-align: justify;
}

.pareven {
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 10px groove black;
  margin-right: 30px;
  text-align: justify;
}

#par1 {
  margin-left: 26%;
}

#par2 {
  margin-left: 30%;
}

#par3 {
  margin-left: 26%;
}

#par4 {
  margin-left: 30%;
}

#par5 {
  margin-left: 26%;
}

.char {
  border: 1px solid black;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 21%;
}

.chartitle {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.charlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0;
}

.footer {
  border-top: 2px solid black;
  margin-top: 2%;
  text-align: center;
}

 .backtotop {
   display: block;
   position: fixed;
   bottom: 50px;
   box-sizing: border-box;
   width: 9%;
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 24px;
   padding-bottom: 24px;
   border: 1px solid black;
   border-radius: 50px;
   margin-left: 90%;
   color: black;
   text-align: center;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
 }
